<div class="sign-in screen " data-id="2:663">
  <div class="scroll-group-5-C61RwL" data-id="2:677"><img class="pngtree-map-tacknono-vF0NCc" data-id="2:664"
      src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/pngtree-map-tacknonology-abstract-background-image-913241-1.png"
      alt="pngtree-map-tacknonology-abstract-background-image_913241"></div>
  <h1 class="title-C61RwL" data-id="2:665">Sign In</h1>
  <div class="group-5-C61RwL" data-id="2:678">
    <div class="rectangle-2-iZjIT4" data-id="2:666"></div><img class="person_fill0_wght400_grad0_opsz48-iZjIT4"
      data-id="2:667"
      src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/person-fill0-wght400-grad0-opsz48-4@2x.png"
      alt="person_FILL0_wght400_GRAD0_opsz48">
  </div>
  <div class="group-1-C61RwL" data-id="2:679">
    <div class="rectangle-3-VyzZeT" data-id="2:668"></div><img class="password_fill0_wght400_grad0_opsz48-VyzZeT"
      data-id="2:669"
      src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/password-fill0-wght400-grad0-opsz48-1@2x.png"
      alt="password_FILL0_wght400_GRAD0_opsz48">
  </div>
  <div class="rectangle-4-C61RwL" data-id="2:670"></div>
  <div class="remember-me-C61RwL" data-id="2:671">Remember Me</div><a href="home#sp-1" data-turbolinks="false">
    <div class="group-3-C61RwL" data-id="2:680" data-hotspot-id="hp-0"><img class="path-1-hvAGCq" data-id="2:673"
        src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/path-1.svg"
        alt="Path 1">
      <div class="text_label-hvAGCq" data-id="2:674">เข้าสู่ระบบ</div>
    </div>
  </a><a href="register">
    <p class="dont-have-an-account-register-C61RwL" data-id="2:675" data-hotspot-id="hp-1">Don't have an account?
      Register</p>
  </a><img class="download-C61RwL" data-id="2:676"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/download@2x.png"
    alt="download">
</div>
