<div class="home screen " data-id="1:291" onclick="window.open('sign-in', '_self');"><img class="download-xl4bh6"
    data-id="1:292"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/download-2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/download-2@2x.png"
    alt="download">
  <div class="rectangle-1-xl4bh6" data-id="1:293"></div><img class="icon-home-xl4bh6" data-id="1:294"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/home-48.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/home-48.png"
    alt="icon-home"><img class="icons8-rich-text-converter-48-xl4bh6" data-id="1:295"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/icons8-rich-text-converter-48.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/icons8-rich-text-converter-48.png"
    alt="icons8-rich-text-converter-48"><a href="phuurab1" onclick="window.event.stopPropagation()"><img
      class="icons8-laptop-alert-100-xl4bh6" data-id="1:296"
      src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/icons8-laptop-alert-100.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/icons8-laptop-alert-100.png"
      alt="icons8-laptop-alert-100"></a><img class="icons8-account-100-xl4bh6" data-id="1:297"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/icons8-account-100.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/icons8-account-100.png"
    alt="icons8-account-100">
  <h1 class="title-xl4bh6" data-id="1:298">HOME</h1><img class="menu-100_2-xl4bh6" data-id="1:299"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/menu-100-2.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/menu-100-2.png"
    alt="menu-100_2">
</div>
