<div class="register screen " data-id="1:402">
  <div class="scroll-group-6-Qolay1" data-id="1:421"><img class="pngtree-map-tacknono-0SqPQ2" data-id="1:403"
      src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/pngtree-map-tacknonology-abstract-background-image-913241.png"
      alt="pngtree-map-tacknonology-abstract-background-image_913241"></div>
  <h1 class="title-Qolay1" data-id="1:404">Register</h1>
  <div class="rectangle-5-Qolay1" data-id="1:405"></div>
  <div class="rectangle-6-Qolay1" data-id="1:406"></div><img
    class="person_fill0_wght400_grad0_opsz48-Qolay1 person_fill0_wght400_grad0_opsz48" data-id="1:407"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/person-fill0-wght400-grad0-opsz48@2x.png"
    alt="person_FILL0_wght400_GRAD0_opsz48"><img class="account_circle_fill0-Qolay1" data-id="1:408"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="account_circle_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-7-Qolay1" data-id="1:409"></div>
  <div class="rectangle-8-Qolay1" data-id="1:410"></div>
  <div class="rectangle-9-Qolay1" data-id="1:411"></div>
  <div class="rectangle-10-Qolay1" data-id="1:412"></div><img
    class="person_fill0_wght400_grad0_opsz48-SVfk6o person_fill0_wght400_grad0_opsz48" data-id="1:413"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/person-fill0-wght400-grad0-opsz48-1@2x.png"
    alt="person_FILL0_wght400_GRAD0_opsz48"><img
    class="person_fill0_wght400_grad0_opsz48-8KUxSO person_fill0_wght400_grad0_opsz48" data-id="1:414"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/person-fill0-wght400-grad0-opsz48@2x.png"
    alt="person_FILL0_wght400_GRAD0_opsz48"><img
    class="person_fill0_wght400_grad0_opsz48-2Fyk8H person_fill0_wght400_grad0_opsz48" data-id="1:415"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/person-fill0-wght400-grad0-opsz48@2x.png"
    alt="person_FILL0_wght400_GRAD0_opsz48"><img class="password_fill0_wght400_grad0_opsz48-Qolay1" data-id="1:416"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/password-fill0-wght400-grad0-opsz48@2x.png"
    alt="password_FILL0_wght400_GRAD0_opsz48"><a href="sign-in">
    <div class="rectangle-11-Qolay1" data-id="1:417" data-hotspot-id="hp-0"></div>
  </a>
  <div class="register-Qolay1" data-id="1:418">Register</div><img class="download-Qolay1" data-id="1:419"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/download@2x.png"
    alt="download"><a href="sign-in">
    <p class="have-an-account-log-in-Qolay1" data-id="1:420" data-hotspot-id="hp-1">Have an account? Log in</p>
  </a>
</div>
